*{
  margin: 0;
  padding: 0;
}
.div_logo img{
  width: 235px;
  position: absolute;
  margin-left: 850px;
  margin-top: -50px;
  cursor: pointer;
}
.div_roxo {
  background-color: #b057a69a;
  width: 40%;
  height: 100vh;
  float: right;
}
.div_roxo > img {
  position: absolute;
  height: 200px;
  margin-left: 20px;
}
.div_branco {
  background-color: white;
  width: 60%;
  height: 70vh;
  border-radius: 8px;
  margin: 140px auto;
  box-shadow: 3px 3px 10px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.div_branco_cadastro{
  background-color: white;
  width: 70%;
  height: 75vh;
  border-radius: 8px;
  margin: 140px auto;
  box-shadow: 3px 3px 10px black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.253)),
    url(../img/fundo.jpg)
      no-repeat center center fixed;
  background-size: cover;
}
#ipt_email{
  margin: 5px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #b057a6;
  box-sizing: border-box;
  outline: none;
}
#ipt_senha {
  margin: 5px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #b057a6;
  box-sizing: border-box;
  outline: none;
}

#ipt_cnpj{
  margin: 5px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #b057a6;
  box-sizing: border-box;
  outline: none;
}

#ipt_nome{
  margin: 5px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #b057a6;
  box-sizing: border-box;
  outline: none;
}

#ipt_tele{
  margin: 5px auto;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  border: 2px solid #b057a6;
  box-sizing: border-box;
  outline: none;
}

#ipt_tele:focus {
  border: 3px solid #e4cce0;
}

#ipt_email:focus {
  border: 3px solid #e4cce0;
}

#ipt_senha:focus{
  border: 3px solid #e4cce0;
}

#ipt_cnpj:focus{
  border: 3px solid #e4cce0;
}

#ipt_nome:focus{
  border: 3px solid #e4cce0;
}

.fonte_inp {
  font-family: sans-serif;
  font-weight: bolder;
  color: #9b108bb7;
  box-sizing: border-box;
  outline: none;
}

.alinhar{
  margin: 5px auto;
  padding: auto;
}

.btn_entrar {
  border-radius: 8px;
  height: 40px;
  width: 200px;
  background-color: #9b108bb7;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 100%;
  border: none;
  align-self: center;
  margin: 20px;
  padding: auto;
}

.btn_entrar:hover {
  color: #b057a6;
  background-color: #fff;
  border: 2px solid #b057a6;
  transition: 0.2s;
}

.btn_cadastro {
  border-radius: 8px;
  height: 40px;
  width: 200px;
  background-color: #9b108bb7;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 100%;
  border: none;
  align-self: center;
  }

  .btn_cadastro:hover {
    color: #b057a6;
    background-color: #fff;
    border: 2px solid #b057a6;
    transition: 0.2s;
  }

.alterar_img {
  margin: 0;
  padding: auto;
  cursor: pointer;
}
.p_senha{
  cursor: pointer;
  margin-top: 15px;
  text-decoration: underline;
  text-align: center;
}
