*{
    margin: 0;
    padding: 0;
    font-family:'Roboto slab', sans-serif;
}
/* Trasição da barra de navegação */
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e5e5e5;
}
a{
    color: white;
    text-decoration: none;
}

/* Estilização da barra de negavegão */
header{
    display: flex;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: #821F7B;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.9;
    font-size: 20px;
    
}

.container{
    font-family:'Roboto slab', sans-serif; 
    margin-left: 165px;
    width: 80%;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.container ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
.container ul li::after{
    content: '';
    height: 3px;
    width: 0%;  
    background: #cc87c9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;

}
.container ul li:hover::after{
    width: 100%;
}
/* Botão entrar */
.login{
    border-radius: 5px;
    font-size: 20px;
    margin-right: 100px;
    cursor: pointer;
    border-color: #8e44ad;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.login:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .login:hover {
    color: rgb(170, 0, 128);
  }
  .login:hover:after {
    width: 110%;
  }

  /* Definindo especificações para o botão */

  button{
    font-weight: bold;
    border-radius: 8px;
    height: 50px;
    width: 120px;
    background-color: rgba(255, 195, 232, 0.349);
    border: none;
    box-shadow:0px 0px 1px black;
    cursor: pointer;
  }
  /* Imagem presente na barra de navegação */
  .div_logo img{
      width: 250px;
      cursor: pointer;
      margin-left: 100px;
      margin-top: 10px;
  }

  /* Estilização do banner juntamento com o degrade */
  .divbanner{
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0, 0, 0, 0.253)), url("../img/fundo2.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    background-attachment: fixed; /* Para deixar o fundo do banner fixo ao rolar a tela */
}

/* Primeira div no meio da pagina */
.div1{
    border-radius: 8px;
    height: 310px;
    width: 550px;
    background-color: #B057A6;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: -200px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Texto principal */

.vitiwine{
    
    font-size: 15px;
    margin-left: 32.5%;
    width: 300px;
    color: white;
}

/* Definindo estilo da Tag P */
p{
    font-size: 18px;
    color: white;
    text-align: center;
}

/* Div que da entrada ao segundo conteudo na pagina */
.div2{
    margin-top: 150px;
}

/* Primeira imagem */
.img2{
    border-radius: 5px;
    width: 400px;
    height: 380px;
    margin-left: 50px;
    text-align: center;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Divs linhas sãos as pequenas linhas roxas em volta do texto sobre valores e missao da empresa */
.divlinha1{
    background-color: #B057A6;
    height: 3px;
    width: 350px;
    margin-left: 500px;
    margin-top: 20px;
}
.divlinha2{
    background-color: #B057A6;
    height: 180px;
    width: 4px;
    margin-left: 900px;
    margin-top: 0px;
}
.divlinha3{
    background-color: #B057A6;
    height: 3px;
    width: 350px;
    margin-left: 950px;
    margin-top: -5px;
}

/* Editando o texto missao */
.missao{
    font-size: 30px;
    margin-left: 20px;
}
.missao2{
    font-size: 15px;
    color: rgb(0, 0, 0);
    
    
}

/* Editando texto valores */
.valores{
    font-size: 30px;
    margin-left: 180px;
}
.textovalores{
    width: 400px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 23px;
    text-align: center;
}

/* Aqui inicia a div referente ao nosso produto */
.divbanner2{
    background-color: #B057A6;
    height: 500px;
    width: 100%;
}
.produto{
    font-size: 30px;
    margin-top: 200px;
}
.produto{
    color: white;
    margin-top: -100px;
    margin-left: 100px;
    font-size: 30px;
}
/* Movendo a imagem do senso pela div */
.sensor{
    margin: 150px 0px 0px 800px;
    color: white;
    text-align: center;
    width: 500px;
    font-size: 25px;
}
/* Movendo o arduido pela div */
.arduino{
    margin-left: 380px;
    margin-top: -100px;
}

/* Parte separada para a formatação do texto e definição da localização do texto */
.div_sobre{
    width: 100%;
    height: 280px;
    background-color: #e5e5e5;
    display: flex;
}
/* Abertura da div SOBRE */
.div_sobre img{
    border-radius: 5px;
    width: 490px;
    height: 320px;
    margin-left: 320px;
    margin-top: -100px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Texto */
.texto_sobre{
    margin-top: 70px;
    margin-left: 100px;
    width: 400px;
    text-align: center;
}

/* Linha/div roxa abaixo do texto */
.linhafinal{
    background-color: purple;
    height: 3px;
    width: 100%;
    margin-top: 10px;
}

/* Aqui inicia a estilização da ultima div antes do footes / ABA PARCERIAS */
.divfinal{
    background-color: #b87cb0;
    width: 100%;
    height: 500px;
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.parcerias b{
    margin-left: 450px;
}
.parcerias{

    color: white;
    margin-left: 11%;
}
/* Imagens localizadas na DIV */
.parceriasimg{
    border-radius: 5px;
    width:200px;
    height:150px;
    background:#676470;
    transition:all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.parceriasimg:hover{
        transform: scale(1.2);
}

/* Footer/contato */
.footer{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: purple;
    color: white;
    display: flex;
}
.texto_footer{
    margin-top: 100px;
    margin-left: 150px;
}
.texto_footer b{
    font-size: 30px;
}
/* Rodi serias as imagens localizadas no footes - facebook/insta/youtube */
.rodi{
    width: 100px;
    transition:all 0.3s ease;
}
.rodi:hover{
    transform: scale(1.1);
}
.rodi_face{
    margin: 0px 0px 10px 0px;
    width: 80px;
    transition:all 0.3s ease;
}
.rodi_face:hover{
    transform: scale(1.1); 
}
.redes_sociais{
    margin-left: 400px;
    margin-top: 100px; 
    letter-spacing: 20px; /* Para criar o espaço entre os elementos */
}
.redes_sociais b{
    letter-spacing: 0px;
    font-size: 30px;
    margin-left: 60px;
}

