body {
    padding: 0;
    margin: 0;
    background-color: #dfcadc;
}

.left {
    width: 10%;
    display: inline-block;
}
.right {
    width: 80%;
    display: inline-block;
}

.container {
    width: 80%;
    margin: auto;
}

.fundo {
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
}

.fundo .container {
    background-color: white;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 0px;
}

.box-temperatura {
    border-radius: 5px;
    margin: 20px;
    width: 90%;
    height: 200px;
    align-self: center;
    background-image: linear-gradient(to bottom right, #611358, #ebbee5);
}

.box-temperatura h3 {
    color: white;
    font-size: 30px;
    margin: 10px 10px;
}

.box-temperatura img {
    width: 50px;
}

.img_u{
    margin-left: 400px;
    margin-top: 30px;
    padding: auto;
}

.img_t{
    margin-left: 100px;
    margin-top: 30px;
    padding: auto;
}

.box-temperatura span {
    color: white;
    font-size: 25px;
    margin-left: 10px;
}

.box-temperatura .fundo{
    margin: 0;
    padding: auto;
}


.box-grafico {
    border-radius: 5px;
    height: 250px;
    width: 90%;
    background-color: #F3DBF3;
    align-self: center;
}

.box-grafico .fundo{
    margin: 0 auto;
    padding: auto;
}

.box-status {
    border-radius: 5px;
    height: 150px;
    width: 50%;
    background-color: #D88BD9;
    align-self:center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.status-img{
    margin-top: -20px;
      height: 220px;
}

.box-status .fundo{
    margin: 0;
    padding: auto;
}

/*Lateral*/

.lateral {
    background-color: white;
    height: 700px;
    width: 15%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-logo {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #912684;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
    margin: 20px 0;
    padding: auto;
    display: block;
    cursor: pointer;
}

.box-logo img {
    width: 100%;
    margin: 0;
    padding: auto;
}

.box-empresa {
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #B058A6;
    text-align: center;
    margin: 0;
    padding: auto;
}

.box-duvida {
    height: 120px;
    width: 100%;
    background-color: #B058A6;
    border-radius: 5px;
    margin: 10px 0;
    padding: auto;
    color: white;
    text-align: center;
    align-items: center;
}

.button{
        
    border-radius: 4px;
    background-color: #821F7B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: auto;
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.box-clima{
    height: 250px;
    width: 100%;
    background-color: #C187BA;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}

.box-clima img {
    border-radius: 5px;
    width: 120px;
    height: 200px;
}

/*Div "pai"*/
.pai {
    margin: 50px;
    padding: auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
}


/* Div contato*/

.contato{
    border-radius: 5px;
    width: 900px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    padding: 0;
}

.contato .texto-contato{
    font-size: 20px;
}

.redes-sociais img{
    height: 30px;
}

.texto-envia {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

.texto-envia form{
margin: 0 50px;
padding: auto;
}

.inps{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: flex;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .button1{  
        border-radius: 4px;
        background-color: #821F7B;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: auto;
        width: 100px;
        height: 50px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;
      }
      
.button1:hover {
        padding-right: 20px;
      }

.ajuste-btn{
    display: flex;
    flex-direction: column;
}
      







